<div class="header">
  <h1 class="title">Weather Application</h1>
</div>

<form class="weather-search" id="city-state-form">
  <input type="text" name="city" placeholder="City Name"></br>
  <input type="submit" value="Submit"></input>
</form>

<script id="city-option" type="text/x-handlebars-template">
  <div class="display-city">
    <div class="display-city-inner">
      <h2 class="city-name"><a href='/weather/{{weather_id}}'>{{city_name}}</a></h2>
    </div>
  </div>
</script>

<div class='home-div'>
</div>

<script>
// BEGIN INITIAL WEATHER SEARCH
$('.weather-search').on('submit', function(event){
  event.preventDefault();
  $.ajaxSetup({jsonp: 'getJson'});
  var input_data = document.getElementById('city-state-form');
  var $query = input_data.elements[0].value;
  $.ajax({
    type: 'GET',
    url: 'http://autocomplete.wunderground.com/aq',
    data: {
      query: $query,
      cb: 'callback'   ////CASE #1 THIS WORKS
    },
    dataType: 'jsonp',
  })
});
// END INITIAL WEATHER SEARCH
// WEATHER SEARCH CALLBACK
function callback(results){
  $('.home-div').empty(); //Empty previous search results
  cities = results.RESULTS;
  for (var i = 0; i < cities.length; i++){
    // PARSE cities[i] to get lat lon, make ajax call to weather API, POST to create
    $.ajaxSetup({jsonp: 'getJson'});
    $.ajax({
      type: 'GET',
      url: 'http://api.wunderground.com/api/fbbc6a704fdca056/conditions/q/' + 'zmw:' + cities[i].zmw + '.json',
      dataType: 'json',
    }).done(function(response){
      $.ajax({
        type: 'POST',
        url: '/weather',
        data: response,
        dataType: 'json',
        success: function(weather){
          var source = $("#city-option").html(); //Render Handlebars template city-option
          var template = Handlebars.compile(source);
          var context = {city_name: weather.city, weather_id: weather.id};
          var html = template(context);
          $('.home-div').append(html);
        },
        error: function(err){
          alert(err.message);
        }
      });
    }).error(function(err){
      alert(err.message);
    })
  }//
}
// END WEATHER SEARCH CALLBACK
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
